.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 18vh;
    background-color: purple;
    border: solid deepskyblue 3px;
}

ul {
    display: flex;
}

li {
    font-family: Helvetica, sans-serif ;
    list-style-type: none;
    padding: 0 7rem;
}


a {
    display: flex;
    text-decoration: underline;
    text-decoration-color: pink;
    color: whitesmoke;
    transition: transform .1ms ease;
}

a:hover {
    color: deepskyblue;
    text-decoration-color: deeppink;
    transform: scale(1.4);
}
