.description-wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.hero-row {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: space-around;
    height: 90vh;
    align-items: center;
    margin: 30px;
    border: 2px solid black;
}

.hero-name {
    display: flex;
    flex-direction: column;
    font-family: Helvetica, sans-serif;
}

.projects {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

