.description-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
    margin-bottom: 20px;
}

.hero-name {
    color: black;
    font-family: Helvetica, sans-serif;
    font-size: 100px;
    border: black;
    border-radius: 14px;
    margin-top: 30px;
}

