.description-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.hero-row {
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
    margin-bottom: 20px;
}

.hero-name {
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 100px;
    background-color: purple;
    border: 3px solid deepskyblue;
    border-radius: 14px;
    margin-top: 30px;
}

.hero-content {
    color: deepskyblue;
    background-color: purple;
    width: 400px;
    border: 3px solid deepskyblue;
    border-radius: 14px;
    padding: 30px;
    margin-top: 30px;
}

.hero-content-header {
    font-size: 30px;
    text-align: center;
}

.hero-content-list ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.hero-content-list li {
    padding: unset;
    margin: unset;
    font-size: 40px;
}

.hero-content-mission p {
    font-size: 16px;
    text-emphasis: currentColor;
}

